@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}
body {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main {
  width: 102rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 1rem;
}

/* ! start nav */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
.logo > img {
  width: 60%;
}
.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40rem;
}

.nav-links > a {
  text-decoration: none;
  font-size: larger;
  padding: 12px 20px;
  color: #000;
}

.nav-links > a:nth-child(5) {
  background-color: #282c35;
  border-radius: 9px;
  font-size: medium;
  color: #fff;
}

/* ! end nav */

/* ! start sections */
.sections {
  display: grid;
  gap: 1rem;
  grid-template-columns: 33.33rem 33.33rem 33.33rem;
  grid-template-rows: 33.33rem 33.33rem 33.33rem;
}
.section-1 {
  background-color: #f5c0ac;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 1;
}

.sidebar {
  background-color: #dbcfcf;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 4;
}
.inner-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: 21.9rem 21.9rem 21.9rem;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 4;
}
.section-2 {
  background-color: #d9d9d9;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 1;
}

.section-3 {
  background-color: #e2e2e2;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.section-4 {
  background-color: #e2e2e2;
}

.section-1,
.section-2,
.section-3,
.section-4,
.sidebar {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25pt;
}

/* ! end sections */

/* ! start footer */

footer {
  background-color: #363636;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 25px 0;
}
footer > h1 {
  color: white;
  font-weight: 500;
}
.f-links > a > img {
  color: #fff;
  height: 60px;
}

/* ! end footer */
/* ? v2 */
